@charset "utf-8";
/* CSS Document */

body {color:#666666; 
	  background-color:white;
	  background-image:url(ptrbackground.jpg);
	  font-family:Arial, Helvetica, sans-serif;}
	  
header{color:white;
       background-color:#000033;}

nav { float:left;
	  width:160px;
	  padding-left:20px;
	  padding-right:5px;
	  padding-top:20px;
	  padding-bottom:5px;
	  font-weight: bold;}
	  
#content{padding-top:1px;
         padding-right:20px;
		 padding-left:30px;
		 padding-bottom:20px;
		 background-color:white;
		 margin-left:190px;}
#content img{float:left;
			 padding-right:20px;}

#wrapper{width:80%;
		margin:auto;
		margin-right:auto;
		margin-left:auto;
		background-color:#90C7E3;
		min-width:960px;
		box-shadow: 5px 5px 5px #000033;
		}
#contact{font-size:90%}

#content ul{list-style-position: inside;}

 nav ul{font-size: 1.2em;
		 list-style-type:none;
 		 margin:0px;
		 padding-left:0px;}
		 
nav a{text-decoration:none;}
nav a:link{color:#000033;}
nav a:visited{color:#344873;}
nav a:hover{color:white;}

footer{
		margin-left:190px;
		background-color:white;
		padding:20px;
		font-size:75%; 
		font-style:italic;
		font-family:Georgia, "Times New Roman", Times, serif;
		}
h1 {margin-bottom:0;
	background-color:#000033;
    background-image:url(sunset.jpg);
	background-position:right;
	background-repeat:no-repeat;
	padding:10px;
	font-family: Georgia, "Times New Roman", Times, serif;}



	


h2 {color:#3399CC;
    font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow:1px 1px 1px #ccc;}

h3 {color:#000033;
    font-family: Georgia, "Times New Roman", Times, serif;}

dt{color:#000033;}

.resort{color:#5C7FA3;
        font-weight:bold}
